# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
*.sqlite3

# Media Files
media/

# Static Files (generated)
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python packaging
*.egg-info/
build/
dist/

# Logs
*.log